<div class="div_{{ tag }}" class="col-md-12">
    <div class="col-xs-3">
        <div class="checkbox" style="display:inline">
            <label>
                <input type="radio"
                       name="optionsTemporized_{{ tag }}"
                       id="optionsTemporizedNo_{{ tag }}"
                        {% if multimediaObject.getProperty('temporized_' ~  tag )  == "-1" or hasTag %}checked{% endif %}
                        {% if not hasTag %}disabled{% endif %}
                       value="-1"
                       onclick="setDisabled{{ tag }}()"
                >
                {% trans %}Permanent{% endtrans %}
            </label>
        </div>
    </div>

    <div class="col-xs-3">
        <div class="checkbox" style="display:inline">
            <label>
                <input type="radio"
                       name="optionsTemporized_{{ tag }}"
                       id="optionsTemporized_{{ tag }}"
                        {% if multimediaObject.getProperty('temporized_' ~ tag)  == "1" %}checked{% endif %}
                        {% if not hasTag %}disabled{% endif %}
                       value="1"
                       onclick="setDisabled{{ tag }}()"
                >
                {% trans %}Temporary{% endtrans %}
            </label>
        </div>
    </div>

    <div class="date_config_{{ tag }}">
        <div class="col-xs-3">
            <label>{% trans %}From{% endtrans %}</label>
            <input type="datetime-local"
                   class="temporized_{{ tag }} form-control"
                   title="datefrom"
                   id="temporized_from_{{ tag }}"
                   name="temporized_from_{{ tag }}[{{ tag }}]"
                   required
                   {% if not hasTag %}disabled{% endif %}
                    {% if multimediaObject.getProperty('temporized_from_' ~ tag) %}
                        value="{{ multimediaObject.getProperty('temporized_from_' ~ tag) }}"
                    {% else %}
                        disabled
                    {% endif %}
            >

        </div>

        <div class="col-xs-3">
            <label>{% trans %}To{% endtrans %}</label>
            <input type="datetime-local" class="temporized_{{ tag }} form-control"
                   title="dateto"
                   id="temporized_to_{{ tag }}"
                   name="temporized_to_{{ tag }}[{{ tag }}]"
                   required
                   {% if not hasTag %}disabled{% endif %}
                    {% if multimediaObject.getProperty('temporized_to_'  ~ tag ) %}
                        value="{{ multimediaObject.getProperty('temporized_to_' ~ tag) }}"
                    {% else %}
                        disabled
                    {% endif %}
            >
        </div>
    </div>
</div>

<script type="text/javascript">
    function setDisabled{{ tag }}() {
        var type = $('input[name=optionsTemporized_{{ tag }}]:checked', '#pumukitnewadmin_mms_updatepub_form').val();
        if("1" == type) {
            $('#temporized_from_{{ tag }}').attr('disabled',false);
            $('#temporized_to_{{ tag }}').attr('disabled',false);
        } else if("-1" == type) {
            $('#temporized_from_{{ tag }}').attr('disabled',true);
            $('#temporized_to_{{ tag }}').attr('disabled',true);
        }
    }

    $('#pub_decisions_{{ tag }}').on('click', function(event) {

         var checked = $('#pub_decisions_' + "{{ tag }}" +':checked').val();
         if(checked == 'undefined') {
             $("#optionsTemporized_{{ tag }}").attr('disabled',true);
             $("#optionsTemporizedNo_{{ tag }}").prop('checked',true);
             $("#optionsTemporizedNo_{{ tag }}").attr('disabled',true);
             $('#temporized_from_{{ tag }}').attr('disabled',true);
             $('#temporized_to_{{ tag }}').attr('disabled',true);
         } else {
             $("#optionsTemporized_{{ tag }}").attr('disabled',false);
             $("#optionsTemporizedNo_{{ tag }}").prop('checked',true);
             $("#optionsTemporizedNo_{{ tag }}").attr('disabled',false);
             $('#temporized_from_{{ tag }}').attr('disabled',true);
             $('#temporized_to_{{ tag }}').attr('disabled',true);
         }
    });

    $("#temporized_to_{{ tag }}").on('focusout', function(event){
        event.preventDefault();
        var starts = $("#temporized_from_{{ tag }}").val();
        var ends = $(this).val();
        if(Date.parse(starts) > Date.parse(ends)) {
            alert("{% trans %}Temporized date to cannot be smaller than temporized date from{% endtrans %}");
            $(this).val(starts);
        }
    });

    $("#temporized_from_{{ tag }}").on('focusout', function(event){
        event.preventDefault();
        var ends = $("#temporized_to_{{ tag }}").val();
        var starts = $(this).val();
        if(Date.parse(starts) > Date.parse(ends)) {
            alert("{% trans %}Temporized date from cannot be higher than temporized date to{% endtrans %}");
            $(this).val(ends);
        }
    });

</script>

